body {
  /* background-color: rgb(243, 77, 11); */
  background-image: linear-gradient(
  235deg,
  hsl(0deg 100% 56%) 0%,
  hsl(18deg 100% 53%) 18%,
  hsl(28deg 100% 50%) 26%,
  hsl(35deg 100% 50%) 33%,
  hsl(43deg 100% 50%) 39%,
  hsl(51deg 100% 49%) 44%,
  hsl(62deg 94% 56%) 50%,
  hsl(76deg 93% 56%) 56%,
  hsl(96deg 91% 59%) 61%,
  hsl(137deg 90% 51%) 67%,
  hsl(183deg 100% 42%) 74%,
  hsl(205deg 100% 50%) 82%,
  hsl(241deg 88% 53%) 100%
);
}

* {
  margin: 0;
  padding: 0;
}

nav {
  font-family: "Ubuntu", sans-serif;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100px;
  background-color: rgb(80, 11, 51);
  color: #f029b4;
  font-weight: solid;
}

nav ul li {
  padding: 0 12px;
}

.brand img {
  width: 100px;
  height: 105px;
  padding: 0 8px;
  border-radius: 50px;
}


.logo-name {
  color: #f02929;
  font-size: 30px;
  margin-top: 50px;

}

.logo-line {
  color: rgb(0, 195, 255);
  font-size: smaller;
  margin-bottom: 50px;
  margin-left: 80px;
  padding-top: 5px;
}

.link a {
  color: #e5ff00;
  /* background-color: black; */
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  line-height: 80px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: solid;
}

.link a:hover {
  opacity: 1;
}

#rangeBar {
  width: 98%;
  height: 2px;
  cursor: pointer;
}

.songbar {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 100%;
  z-index: 2;
  margin: auto;
  position: fixed;
  bottom: 1rem;
}

#masterSongBar {
  align-items: center;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mid_btn {
  display: inline-flex;
  align-items: center;
}

.mid_btn i {
  padding: 0 5px;
  cursor: pointer;
  margin: 0 4px;
}

.queue {
  background-color: white;
}

#id {
  background-color: white;
}

.songInfo {
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin: 5px 0;
}

.masterSongName {
  margin: 0 10px;

}

.songName {
  cursor: pointer;
}


#Queue,
.addtoqueue {
  background-color: rgba(0, 0, 0, 0.137);
  border: none;
  color: #00ccff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 15px;
}

#Queue:hover,
.addtoqueue:hover {
  background-color: black;
}


.queuedSong {
  cursor: pointer;
}

.cont_nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#music_list {
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  color: #083946;
  background-color: #0000000c;
  width: 50%;
  align-items: left;
  height: 100%;
  min-width: 50%;
  position: relative;
  margin: 20px auto;
  /* margin-bottom: 30px; */
  border-radius: 20px;
  height: 70vh;
  justify-content: space-evenly;
  max-height: 470px;
  overflow-y: scroll;
  padding: 1rem;
}
#music_list::-webkit-scrollbar {
  width: 0;
  background: transparent;
  align-items: center;
}

#music_list::-moz-scrollbar {
  width: 0;
  background: transparent;
}

#music_list {
  -ms-overflow-style: none;
}

.shuffleon {
  color: green;
}
.shuffleon:hover{
  color: red;
}
.section-side {
  display: flex;
  flex-grow: 1;
}

.current-time,
.total-duration,
#masterSongName {
  font-size: 16px;
  font-weight: bold;
}


#qd,
#sd {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
  /* padding: 10px; */
  background-color: black;
  color: #29f029;
  height: 50%;
  width: 20%;
}

#searchsong {
  background-color: black;
  width: 640px;
  height: 20px;
  color: white;
  font-size: medium;
  font-weight: solid;
  padding: 1rem;
  border-radius: 4px;
  border-color: #ed43b4;
}


#searchsong:hover {
  background-color: white;
  color: black;
}